#products-page {
  padding: 80px 0;
  .products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    .spin {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
    .card {
      width: 21%;
      padding: 10px 35px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 15px;
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200px;
        }
      }
      .about {
        h2 {
          text-align: center;
          color: rgb(0, 0, 88);
          font-size: 21px;
        }
        .title {
          padding: 15px;
          .name {
            font-weight: 800;
            color: black;
          }
          .value {
            color: rgb(0, 0, 0);
          }
        }
        .btn {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
